<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.androidteam.alarm"
    android:versionCode="4"
    android:versionName="3.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
     <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/alarm"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" > <!-- 액션바 사용안하기 -->
             
         <receiver 
             android:name="kr.androidteam.alarm.AlarmReceiver" 
             android:process=":remote"
               android:enabled="true"
            android:exported="true">
            <intent-filter 
                android:priority="9999">
                 <action android:name="kr.androidteam.alarm.AlarmReceiver" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
           </intent-filter>
        </receiver> 
         
          <receiver 
             android:name="kr.androidteam.alarm.wakeUp" 
             android:process=":remote"
               android:enabled="true"
            android:exported="true">
            <intent-filter 
                android:priority="100">
                 <action android:name="kr.androidteam.alarm.wakeUp" />
               
           </intent-filter>
        </receiver> 
        
            <activity
            android:name="kr.androidteam.alarm.AlarmSplash"
            android:label="AlarmA"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
          
        <activity
            android:name="kr.androidteam.alarm.MainActivity"
            android:label="AlarmA"
            >
            <intent-filter>
                <action android:name="kr.androidteam.alarm.MainActivity" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity android:name="kr.androidteam.alarm.AlarmContents"
            android:label="AlarmContents">
            
            <intent-filter>
                <action android:name="kr.androidteam.alarm.AlarmContents" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
                  
        </activity>
        
           <activity android:name="kr.androidteam.alarm.AlarmInfoChange"
            android:label="AlarmInfoChange">
            <intent-filter>
                <action android:name="kr.androidteam.alarm.AlarmInfoChange" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
</activity>

           <activity android:name="kr.androidteam.alarm.selectedMaze"
            android:label="selectedMaze"
            >
            <intent-filter>
                <action android:name="kr.androidteam.alarm.selectedMaze" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
                  
        </activity>

           <activity android:name="kr.androidteam.alarm.selectedDecibel"
            android:label="selectedDecibel"
            >
            <intent-filter>
                <action android:name="kr.androidteam.alarm.selectedDecibel" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
                  
        </activity>
        
              <activity android:name="kr.androidteam.alarm.selectedWord"
            android:label="selectedWord"
           >
            <intent-filter>
                <action android:name="kr.androidteam.alarm.selectedWord" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
                  
        </activity>
           <activity android:name="kr.androidteam.alarm.selectedcatch"
            android:label="selectedcatch"
           >
            <intent-filter>
                <action android:name="kr.androidteam.alarm.selectedcatch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
                  
        </activity>
           
                 <activity android:name="kr.androidteam.alarm.AlarmWeather"
            android:label="AlarmWeather"
           >
            <intent-filter>
                <action android:name="kr.androidteam.alarm.AlarmWeather" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
                  
        </activity>
           
           
    </application>

</manifest>
